{% extends "base.html" %}

{% block content %}
<div class="row">
    <main class="col-sm-9">
    <form method="POST">
    {% csrf_token %}
    {{ form }}
<div class="card">
<table class="table table-hover shopping-cart-wrap">


{{ items.management_form }}
{% for item in items.forms %}
  {% if forloop.first %}
  <thead class="text-muted">
    <tr>
      {% for field in form.visible_fields %}
          <th scope="col">{{ field.label|capfirst }}</th>
      {% endfor %}
    </tr>
  </thead>
{% endif %}
<tbody>
  {% include "order_item.html" %}
{% endfor %}
</tbody>
</table>
</div> <!-- card.// -->
    <input class="btn btn-md btn-success" type="submit" value="Save">
    </form>
    </main> <!-- col.// -->
    <aside class="col-sm-3">
<dl class="dlist-align">
  <dt>Total price: </dt>
  <dd class="text-right">{{ order.price }}</dd>
</dl>
<hr>
<figure class="itemside mb-3">
    <form action="payments" method="POST">
        <input class="btn btn-md btn-success" type="submit" value="Pay">
    </form>
</figure>

    </aside> <!-- col.// -->
</div>
{% endblock %}