<tr>
    <td>
<figure class="media">
    <div class="img-wrap">
        {% if item.product.image %}
        <img src="{{ item.product.image.url }}" class="img-thumbnail img-sm">
        {% endif %}
    </div>
    <figcaption class="media-body">
        <h6 class="title text-truncate">{{ item.product.name }}</h6>
    </figcaption>
</figure> 
    </td>
    <td> 
        <input class="form-control" type="text" value="{{ item.quantity }}">
    </td>
    <td> 
        <div class="price-wrap"> 
            <var class="price">USD {{ item.price }}</var> 
            <small class="text-muted">(USD5 {{ item.product.price }})</small> 
        </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right"> 
    <a href="" class="btn btn-outline-danger"> × Remove</a>
    </td>
</tr>